@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=DM+Serif+Display&display=swap');

* {
    padding: 0;
    margin: 0;
    border: none;
}
body {
    font-family: DM sans, Helvetica, sans-serif;
    font-weight: 400px;
    color: black
}

/* Headings and logo */

h1, h2, h3 {
    font-family: DM Serif Display, Helvetica, sans-serif;
    font-weight: 300px;
    color: black;
    text-transform: uppercase;
    letter-spacing: 2px;
}
/* Need to decide text font for headings and p text also color */

