@import url('https://fonts.googleapis.com/css2?family=DM+Mono&family=DM+Sans&display=swap');


* {
    padding: 0;
    margin: 0;
    border: none;
}

body {
    font-family: DM sans, Helvetica, sans-serif;
    font-weight: 200px;
    color: black
}

/* Headings and logo */

header {
    background-color: #1b4685;
    height: 125px;
    color: white;
}

h1,
h2,
h3 {
    font-family: DM Mono, Helvetica, sans-serif;
    font-weight: 200px;
    color: white;
    letter-spacing: 2px;
}

/* Need to decide text font for headings and p text also color */

#logo {
    float: left;
    margin-left: 25px;
    height: 125px;


}



#menu {
    float: right;
    letter-spacing: 2px;

}

#menu,
#logo {
    line-height: 125px;
}

#menu ul {
    float: right;
}

#menu li {
    float: left;
    list-style-type: none;
    margin-right: 50px;
}

#menu a {
    text-decoration: none;
    color: inherit;
    font-size: 100%;

}

#menu a:hover {
    border-bottom: 1px solid white;
}

.active {
    border-bottom: 1px solid white;
}

/* Main image */

#main-image {
    height: 500px;
    width: 100%;
    background: url('../images/virus-gcc931dec2_1920.jpg') no-repeat center center;

}

#main-image:hover {
    height: 500px;
    width: 100%;
    background: url('../images/bacteria-g80308695d_1920.jpg') no-repeat center center;
    transition-duration: 1s;


}

#main-image:not(:hover) {
    transition-duration: 1s;
}

/* Image cover */

#main-cover  {
    font-size: 100%;
    font-family: DM sans Helvetica, sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align:center;
    color: white;
    
    

    width: 250px;
    height: 150px;

    padding-top: 40px;
    padding-right:10px;

    bottom: 325px;
    right: 200px;

    background-color: rgba(27,70,133, 0.5);

    position: absolute;

}

/*card styling */


.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width:33%;
    display: flex;
    justify-content: space-between;
   
    
    
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .container {
    padding: 2px 16px;
    
  }

