@import url('https://fonts.googleapis.com/css2?family=DM+Mono&family=DM+Sans&display=swap');


* {
    padding: 0;
    margin: 0;
    border: none;
}

body {
    font-family: DM sans, Helvetica, sans-serif;
    font-weight: 200;
    color: white;
    height: 100%;
}

/* Headings and logo */

header {
    background-color: #1b4685;
    height: 125px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

h1,
h2,
h3 {
    font-family: DM Mono, Helvetica, sans-serif;
    font-weight: 300;
    color: white;
    letter-spacing: 2px;
}

/* Need to decide text font for headings and p text also color */

#logo {
    float: left;
    margin-left: 15px;
    height: 125px;


}

#menu,
#logo {
    line-height: 125px;
}

#menu ul {
    display: flex;
    flex-direction: row;
}

#menu li {
    float: left;
    list-style-type: none;
    margin-right: 50px;
}

#menu a {
    text-decoration: none;
    color: inherit;
    font-size: 100%;
}

#menu {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}




#menu a:hover {
    border-bottom: 1px solid white;
}

.active {
    border-bottom: 1px solid white;
}

/* Main image */

#main-image {
    height: 500px;
    width: 100%;
    background: url('../images/virus-main.jpg') no-repeat center center;

}

#main-image:hover {
    height: 500px;
    width: 100%;
    background: url('../images/bacteria-main.jpg') no-repeat center center;
    transition-duration: 1s;


}

#main-image:not(:hover) {
    transition-duration: 1s;
}

/* Image cover */


#main-cover {
    font-size: 100%;
    font-family: DM sans Helvetica, sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    color: white;
    background-color: rgba(27, 70, 133, 0.5);
    position: absolute;
    bottom: 50%;
    right: 5%;
    width: 90%;
    height: auto;
    max-width: 350px;
    padding: 20px 10px;
}

/* Pathogens Video*/

.pathogens-video {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}


/*Why you should learn with us and card styling */



.dna-background {
    background: url('../images/dna.jpg') no-repeat center center;
    background-size: cover;

}

.why {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    background-color: rgba(27, 70, 133, 0.6);
    width: 50%;
    margin: auto;


}

div>h2 {
    color: white;
    text-align: center;
    text-transform: capitalize;
    font-size: 200%;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px;
}

.card {
    width: calc(33.33% - 20px);
    background-color: #1b4685;
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
    text-align: center;
}


.card h2 {
    font-size: 18px;
    margin: 20px;
}

.card p {
    font-size: 14px;
    color: white;
    margin: 20px;
    line-height: 1.5;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* About section */

.about {
    margin: auto;
    background-color: rgba(27, 70, 133, 0.6);
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    padding: 20px;
}

.about p {
    padding: 20px;
    font-size: 20px;
    text-align: justify;
}

.profile-image-container {
    height: 200px;
    width: 200px;
    padding: 20px;
    border-style: solid;
    border-color: white;
    border-width: 2px;
    border-radius: 50%;
    margin-left: 20px;
    background-color: #1b4685;
}

.profile-image {
    background: url('../images/kyle-image.jpg') no-repeat center center;
    background-size: cover;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
}



/* Footer */

footer {
    height: 50%;
    background-color: #1b4685;

}

footer h3 {
    text-align: center;
    padding-top: 10px;
    font-size: 100%;

}

.social-networks {
    text-align: center;
}

.social-networks>li {
    display: inline;
}

.social-networks i {
    font-size: 25px;
    margin: 2.5%;
    color: white;
    text-decoration: none;


}

/*Bacteria page */


.bacteria {
    height: 250px;
    max-width: 300px;
    min-width: 300px;


}

.bacteria-section h2 {
    background-color: #1b4685;
    margin-left: 20px;

}



.TB {
    display: flex;
    justify-content: flex-start;
    padding-left: 20px;

}

.TB p {
    margin-left: 20px;
    margin-right: 20px;
    background-color: rgba(27, 70, 133, 0.6);
}

.microscope-image h2 {
    padding-left: 20px;
}

.strep {
    display: flex;
    justify-content: flex-start;
    padding-left: 20px;
}

.strep p {
    margin-left: 20px;
    margin-right: 20px;
    background-color: rgba(27, 70, 133, 0.6);
}

.syphilis {
    display: flex;
    justify-content: flex-start;
    padding-left: 20px;
    padding-bottom: 20px;
}

.syphilis p {
    margin-left: 20px;
    margin-right: 20px;
    background-color: rgba(27, 70, 133, 0.6);
}



/* Virus page */

.virus-section h2 {
    background-color: #1b4685;
    margin-left: 20px;
}

.rabies {
    display: flex;
    justify-content: flex-start;

}

.rabies p {
    margin-left: 20px;
    margin-right: 20px;
    background-color: rgba(27, 70, 133, 0.6);
}

.virus-section iframe {
    padding-left: 20px;
    margin: auto;
}


.hiv {
    display: flex;
    justify-content: flex-start;

}

.hiv img {
    height: 300px;
    max-width: 300px;
    min-width: 300px;
    padding-left: 20px;
    margin: auto;
}

.hiv p {
    margin-left: 20px;
    margin-right: 20px;
    background-color: rgba(27, 70, 133, 0.6);
}

.covid {
    display: flex;
    justify-content: flex-start;
}

.covid img {
    height: 300px;
    max-width: 300px;
    padding-left: 20px;
    margin: auto;
}

.covid p {
    margin-left: 20px;
    margin-right: 20px;
    background-color: rgba(27, 70, 133, 0.6);
}

/*Fungi page */

.fungi-section h2 {
    background-color: #1b4685;
    margin-left: 20px;
}


.fungi {
    max-width: 300px;
    max-height: 300px;
    margin: auto;
    padding-left: 20px;

}

.candida {
    display: flex;
    justify-content: flex-start;

}

.candida p {
    margin-left: 20px;
    margin-right: 20px;
    background-color: rgba(27, 70, 133, 0.6);
}

.murcomycosis {
    display: flex;
    justify-content: flex-start;
}

.murcomycosis p {
    margin-left: 20px;
    margin-right: 20px;
    background-color: rgba(27, 70, 133, 0.6);
}

.neoformans {
    display: flex;
    justify-content: flex-start;
    padding-bottom: 20px;

}

.neoformans p {
    margin-left: 20px;
    margin-right: 20px;
    background-color: rgba(27, 70, 133, 0.6);
}

/* Parasites Page */

.parasite-section h2 {
    background-color: #1b4685;
    margin-left: 20px;

}

.parasite-section iframe {
    padding-left: 20px;
    margin: auto;
}



figcaption {
    max-width: 300px;
    margin-left: 20px;
    text-align: center;
    background-color: rgba(27, 70, 133, 0.6);
}


.parasites {
    width: 300px;
    min-height: 300px;
    max-height: 300px;
    margin-left: 20px;
}

.malaria {
    display: flex;
    justify-content: flex-start;

}

.malaria p {
    margin-left: 20px;
    margin-right: 20px;
    background-color: rgba(27, 70, 133, 0.6);
}

.schisto {
    display: flex;
    justify-content: flex-start;
}

.schisto p {
    margin-left: 20px;
    margin-right: 20px;
    background-color: rgba(27, 70, 133, 0.6);
}

.sleeping-sickness {
    display: flex;
    justify-content: flex-start;
    padding-bottom: 20px;

}

.sleeping-sickness p {
    margin-left: 20px;
    margin-right: 20px;
    background-color: rgba(27, 70, 133, 0.6);
    height: 100%;
}


/* Quiz page */


.quiz-question h2 {
    font-size: 18px;
    margin-bottom: 20px;
    text-align: center;



}


.quiz-question {
    margin-left: 20px;
    background-color: rgba(27, 70, 133, 0.6);
    max-width: 400px;
    padding: 30px;
    margin: 20px;
    overflow: scroll;


    text-align: left;


}



.quiz-container {
    display: flex;
    height: 700px;


}

.quiz-container div {
    flex: 1;
}


.submit-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #1b4685;
    color: #fafafa;
    display: block;
}

.submit-button:hover {
    background-color: #fafafa;
    color: #1b4685
}

.conditions {
    height: 200px;
    overflow: scroll;
    background-color: rgba(27, 70, 133, 0.7);
}

.quiz-terms img {
    max-height: 300px;
    max-width: 300px;
    margin: 20px 0 20px 0;

}

.winner-image {
    min-width: 50%;
    height: 100%;
    padding-left: 20px;
}

.quiz-terms {
    padding: 20px;


}

/*Media Queries*/

/* Small screen sizes */

@media only screen and (max-width: 416px) {
    #main-cover {
        width: 85%;
        right: 0%;
        max-width: none;
        margin: 0 5%;
    }

    #main-cover h3 {
        font-size: 90%;
    }
}

@media screen and (max-width: 511px) {


    .about p {
        font-size: 14px;
        padding: 10px;
    }

    .profile-image-container {
        height: 100px;
        width: 100px;
        margin-right: 10px;
    }
}


/* Medium screen sizes */


@media screen and (min-width: 749px) {
    .hamburger-wrapper {
        display: none;
    }
}

@media screen and (max-width:748px) {
    nav {
        display: none;
    }

    /*Hamburger Menu*/
    .bars,
    #menu {
        width: 30px;
        height: 30px;
        position: absolute;
        top: 0;
        right: 0;
        color: #DFDEE0;
        margin: 45px 5% 0 0;
    }

    .fa-bars,
    .fa-times {
        font-size: 25px;
    }

    .fa-times {
        position: absolute;
        right: 0;
        margin-right: 20px;
    }

    .hamburgermenu {
        width: 160px;
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        background-color: #365C96;
        padding: 2%;
        margin: 0;
        z-index: 4;
        animation: open 1.3s ease forwards;
    }

    @keyframes open {
        0% {
            transform: translateX(120%);
        }

        100% {
            transform: translateX(0);
        }
    }

    .hamburgermenu li {
        list-style: none;
        padding: 10px 0;
        margin-top: 10px;
    }

    .hamburgermenu a {
        width: 100%;
        text-decoration: none;
        color: #DFDEE0;
    }

    .hamburgermenu .close {
        width: 20px;
        height: 20px;
        font-size: 100%;
        margin: 3% 4% 0 0;
    }
}

@media screen and (max-width: 900px) {


    .card-container,
    .why {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .card,
    .why {
        width: 100%;
    }


}

/* Large screen sizes */

@media only screen and (max-width: 1200px) {
    .about {
        flex-direction: column;
    }

    .about p {
        font-size: 16px;
        margin-top: 20px;
    }

    .profile-image-container {
        height: 150px;
        width: 150px;
        margin-left: 0;
        margin-right: 20px;
    }

    /* Bacteria Page */
    .bacteria {
        height: auto;
        max-width: 50%;
        min-width: 0;

    }

    .bacteria-section h2 {
        font-size: 24px;
    }

    .TB,
    .strep,
    .syphilis {
        flex-direction: column;
        padding-left: 0;
        padding-bottom: 20px;
        align-items: center;
    }

    .TB p,
    .strep p,
    .syphilis p {
        margin-left: 0;
        margin-right: 0;
        margin-top: 20px;
    }

    .microscope-image h2 {
        padding-left: 0;
    }



    /*Virus Page */

    .virus-section h2 {
        font-size: 24px;
    }

    .virus-section iframe {
        padding-left: 0;
        width: 50%;
        align-items: center;
    }


    .hiv img,
    .covid img {
        height: auto;
        max-width: 50%;
        min-width: 0;
        padding-left: 0;
        margin: 20px auto 0;
        align-items: center;
    }



    .rabies,
    .hiv,
    .covid {
        flex-direction: column;

    }

    .rabies p,
    .hiv p,
    .covid p {
        margin-left: 0;
        margin-right: 0;
        margin-top: 20px;
    }

    /* Fungi Page */

    .fungi {
        max-width: 100%;
        height: auto;
        padding-left: 0;
    }

    .fungi-section h2 {
        font-size: 24px;
    }

    .candida,
    .murcomycosis,
    .neoformans {
        flex-direction: column;
    }

    .candida p,
    .murcomycosis p,
    .neoformans p {
        margin-left: 0;
        margin-right: 0;
        margin-top: 20px;
    }

    /* Parasites Page */

    .parasite-section h2 {
        font-size: 24px;
    }

    .parasite-section iframe {
        padding-left: 0;
        width: 100%;
        align-items: center;
    }

    .parasites {
        max-width: 100%;
        height: auto;
        padding-left: 0;

    }

    figcaption {
        flex-direction: column;
        align-items: center;
        width: 100%;


    }


    .malaria,
    .schisto,
    .sleeping-sickness {
        flex-direction: column;
        align-items: center;
        min-width: auto;
    }

    .malaria p,
    .schisto p,
    .sleeping-sickness p {
        margin-left: 0;
        margin-right: 0;
        margin-top: 20px;
    }


}